<html>
    <head>
        <style>
            body{
                background-color:pink;
            }
        </style>
    </head>
   
    <body>
        <h1>@ViewBag.Title</h1>
        <h1>@ViewBag.Msg</h1>
    </body>
</html>
