<html>
    <body>
        <h1>WebApi-Get</h1>
        <form>
            <input type="button" id="button1" value="Get Data" />
<table id="table1" border="1">
</table>
        </form>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $("#button1").click(fun1);
            function fun1(){
                $.ajax({ url: "/api/WebApi", type: "GET",success: fun2, error: fun3 })
            }
            function fun2(response) {
                $("#table1").html("<tr><td>EmpId</td><td>Ename</td><td>Email</td><td>Address</td></tr>");
                for (var i=0;i<response.length;i++)
                {
                    $("#table1").append("<tr><td>"+response[i].empId+"</td><td>"+response[i].ename
                    +"</td><td>"+response[i].email+"</td><td>"+response[i].address+"</td></tr>")
                }
            }
            function fun3(xhr) {
                alert(xhr.responseText);
            }
            
        </script>
    </body>
</html>