<html>
    <head>
        <link rel="stylesheet"href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </head>
        <body>
            <div class="container" align="center">
                <h1>Science&Technology</h1>
                <img src="~/images/img.jpg" width="250"height="300"asp-append-version="true" /><br /><br />
                <button type="submit" class="btn btn-primary btn-lg">Project</button>
                <button type="submit" class="btn btn-success btn-lg">Review</button>
            </div>
        </body>
</html>