@model WebAppAssign.Models.UserModel
<h1>Register</h1>
<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <form asp-controller="User" asp-action="UserReg"method="post">
            <table>
                <tr>
                    <td><label asp-for="Username"></label></td>
                    <td><input asp-for=Username /></td>
                    <td><span asp-validation-for="Username"></span></td>
                </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for=Password /></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
            <tr>
                <td><label asp-for="city"></label></td>
                <td>
                    <select name="list1"asp-for="city" asp-items="Model.cities"></select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Gender"></label></td>
                <td><input type="radio" value="Male" name="rb1"asp-for="Gender" />Male
                    <input type="radio" value="Female" name="rb1" asp-for="Gender" />Female
                </td>
            </tr>
            <tr>
                <td><lable>Hobbies</lable></td>
                <td><input type="checkbox"asp-for="Music"/>Music</td>
                <td><input type="checkbox"asp-for="Crafts"/>Crafts</td>
                <td><input type="checkbox"asp-for="Reading" />Reading</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </td>
            </tr>
            </table>
        </form>
    </body>
</html>
