<html>
    <body>
        <h1>Web-Api-Delete</h1>
        <form>
            EmpId:<input type="text" id="txt1" /><br />
            <input type="submit" id="button1" value="Delete" />
            <div id="div1"></div>
        </form>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script> 
            $("#button1").click(fun1);
            function fun1(event){
                event.preventDefault();
                $.ajax({ url: "/api/WebApi?eid=" + $("#txt1").val(), type: "DELETE", success: fun2, error: fun3 });
            }
            function fun2(response){
                $("#div1").html(response);
            }
            function fun3(xhr) {
                alert(xhr.responseText);
            }
        </script>
    </body>
</html>