<html>
<body>
    <h1>WebApi-Post</h1>
    <form asp-controller="Emp" asp-action="Insert" method="post">
        EmpID:<input type="text" id="txt1" /><br />
        EmpName:<input type="text" id="txt2" /><br />
        Email:<input type="text" id="txt3" /><br />
        EmpAddress:<input type="text" id="txt4" /><br />
        <input type="submit" id="button1" value="Insert" />
        <div id="div1"></div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
            $("#button1").click(fun1);
            function fun1(event) {
                event.preventDefault();
                var mydata = { "empId":$("#txt1").val(),"ename":$("#txt2").val(),"email":$("#txt3").val(),"address":$("#txt4").val()};
                $.ajax({ url:"/api/WebApi",type:"POST",data:mydata,success:fun2,error:fun3 });
            }
        function fun2(response) {
            $("#div1").html(response);
        }
        function fun3(xhr){
            alert(xhr.responseText);
        }
    </script>
</body>
</html>