@model WebAppAssign.Models.RegModel
<html>
    <head>
        <link rel="stylesheet"href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Register</h1>
        <form asp-controller="Register"asp-action="Insert"method="post">
            <table>
                <tr>
                    <td><label asp-for="Username"></label></td>
                    <td><input asp-for="Username" /></td>
                    <td><span asp-validation-for="Username"></span></td>
                </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for="Password" /></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
           
            <tr>
                <td><label asp-for="City"></label></td>
                <td>
                    <select asp-for="City" asp-items="Model.cities"></select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Gender"></label></td>
                <td>
                    <input type="radio" value="Male"  asp-for="Gender" />Male
                    <input type="radio" value="Female" asp-for="Gender" />Female
                </td>
            </tr>
            <tr>
                <td><lable>Hobbies</lable></td>
                <td><input type="checkbox" asp-for="Music" />Music
                <input type="checkbox" asp-for="Crafts" />Crafts
                <input type="checkbox" asp-for="Reading" />Reading</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </td>
            </tr>
            </table>
            <span>@ViewBag.Msg</span>
        </form>
    </body>
</html>